

.container-case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 2.5rem;
    
}

.container-case .case-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case-caption h1{
    font-size: 2.5rem;
}
.case-caption p{
    font-size: 1.1rem;
    margin: 12px;
}
.case-study-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}

.case-study-image img {
    width: 80%;
    border-radius: 10px;
    border: none;
}




.case-text h4 {
    color: #FAB108;
    margin: 5px;
    margin-left: 0px;
}



.RIGHT {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FAB108;
    padding: 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.RIGHT-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FAB108;
    padding: 11px;
    border: #FAB108 solid 1px;
    background-color: inherit;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}



.RIGHT:hover{
    color: rgba(230, 153, 11, 0.918);
}

.case-text p {
    margin: 20px 0;
    font-style: italic;
    color: rgba(0, 0, 0, 0.753);
}

.case-text h4{
    font-size: 2rem;
}



.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    
}

.row-reverse img{
    margin-left: 120px;
}



/* Responsive Design */
@media (max-width: 768px) {
    .container-case {
        flex-direction: column;
        width: 100%;
    }

    .case-text{
        margin-left: -250px;
    }

    .case-study-image {
        flex-direction: column;
    }

    .case-study-image img {
        width: 100%;
    }

    .case-text h1 {
        font-size: 2rem;
    }

    .case-text h4 {
        font-size: 1.2rem;
    }

    .case-text p {
        font-size: 0.9rem;
    }

}

@media (max-width: 480px) {
    .case-text h1 {
        font-size: 1.8rem;
    }

    .case-text h4 {
        font-size: 1rem;
    }

    .case-text p {
        font-size: 0.8rem;
    }

    .case-caption h1 {
        font-size: 1.5rem;
    }

    .case-caption p {
        font-size: 0.9rem;
    }
}






@media (max-width: 768px) {
    .container-case .row-reverse{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

    .row-reverse{
        margin-left: 22px;
    }

    .case-study-image {
        flex-direction: column;
    }

    .case-study-image img {
        width: 70%;
    }

    .case-text h1 {
        font-size: 2rem;
    }

    .case-text h4 {
        font-size: 1.2rem;
    }

    .case-text p {
        font-size: 0.9rem;
    }

}

@media (max-width: 480px) {
    .case-text h1 {
        font-size: 1.8rem;
    }

    .case-text h4 {
        font-size: 1rem;
    }

    .case-text p {
        font-size: 0.8rem;
    }

    .case-caption h1 {
        font-size: 1.5rem;
    }

    .case-caption p {
        font-size: 0.9rem;
    }
}


